<head>
    <meta charset="utf-8" />
    <title>NYC Taxi Trip Records</title>
    <!-- import plugin script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
    <script type = "text/JavaScript">
        <!--
           function AutoRefresh(t) {
              setTimeout("location.reload(true);", t);
           }
        //-->
     </script>

</head>
<body onload = "JavaScript:AutoRefresh(1000);">
    <div style="height: 20%">
        <div style="width: 30%; float:left; text-align: left;  margin:10px">
            <h2>NYC Taxi Trip Records</h2>
        </div>
        <div style="width: 30%; float:left; text-align: left; margin:10px">
            <h2>Completed trips: </h2>
        </div>
        <div style="width: 30%; float:left; text-align: left; margin:10px">
            <h2>Ongoing trips: </h2>
        </div>
    </div>
    <div style="height: 40%">
        <div style="width: 45%; float:left; margin:10px;">
            <canvas id="top_pickup" width="50" height="50"></canvas>
            <script>
                var chartData = {
                    labels : [{% for item in top_pickup_zones %}
                                "{{item}}",
                                {% endfor %}],
                    datasets : [{
                        label: 'Top pickup zones',
                        fill: true,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data : [{% for item in top_pickup_zones_counts %}
                                    {{item}},
                                {% endfor %}],
                        spanGaps: false
                    }]
                    }
                    
                    // get chart canvas
                    var ctx = document.getElementById("top_pickup").getContext("2d");
                    
                    // create the chart using the chart canvas
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: chartData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
            </script>
        </div>
        <div style="width: 45%; float:left; margin:10px;">
            <canvas id="top_dropoff" width="50" height="50"></canvas>
            <script>
                var chartData = {
                    labels : [{% for item in top_dropoff_zones %}
                                "{{item}}",
                                {% endfor %}],
                    datasets : [{
                        label: 'Top dropoff zones',
                        fill: true,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data : [{% for item in top_dropoff_zones_counts %}
                                    {{item}},
                                {% endfor %}],
                        spanGaps: false
                    }]
                    }
                    
                    // get chart canvas
                    var ctx = document.getElementById("top_dropoff").getContext("2d");
                    
                    // create the chart using the chart canvas
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: chartData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
            </script>
        </div>
    </div>
    <div style="height: 40%">
        <div style="width: 70%; float:left; margin:10px;">
            <canvas id="duration" width="50" height="50"></canvas>
            <script>
                var chartData = {
                    labels : ["< 5 min","5-10 min","10-15 min","15-20 min","20-25 min","25-30 min","30-35 min","35-40 min","40-45 min","45-50 min","50-55 min","55-60 min","> 60 min"],
                    datasets : [{
                        label: 'Trip duration distribution',
                        fill: true,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data : [{% for item in duration_counts %}
                                    {{item}},
                                {% endfor %}],
                        spanGaps: false
                    }]
                    }
                    
                    // get chart canvas
                    var ctx = document.getElementById("duration").getContext("2d");
                    
                    // create the chart using the chart canvas
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: chartData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
            </script>
        </div>
        <div style="width: 20%; float:left; margin:10px;">
            <!-- <canvas id="placeholder" width="50" height="50"></canvas>
            <script>
                var chartData = {
                    labels : [{% for item in labels %}
                                "{{item}}",
                                {% endfor %}],
                    datasets : [{
                        label: '{{ legend }}',
                        fill: true,
                        lineTension: 0.1,
                        backgroundColor: "rgba(75,192,192,0.4)",
                        borderColor: "rgba(75,192,192,1)",
                        borderCapStyle: 'butt',
                        borderDash: [],
                        borderDashOffset: 0.0,
                        borderJoinStyle: 'miter',
                        pointBorderColor: "rgba(75,192,192,1)",
                        pointBackgroundColor: "#fff",
                        pointBorderWidth: 1,
                        pointHoverRadius: 5,
                        pointHoverBackgroundColor: "rgba(75,192,192,1)",
                        pointHoverBorderColor: "rgba(220,220,220,1)",
                        pointHoverBorderWidth: 2,
                        pointRadius: 1,
                        pointHitRadius: 10,
                        data : [{% for item in values %}
                                    {{item}},
                                {% endfor %}],
                        spanGaps: false
                    }]
                    }
                    
                    // get chart canvas
                    var ctx = document.getElementById("placeholder").getContext("2d");
                    
                    // create the chart using the chart canvas
                    var myChart = new Chart(ctx, {
                        type: 'bar',
                        data: chartData,
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
            </script> -->
        </div>
    </div>
</body>
